.icon-container {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin-left: 15px;
}

.icon-name {
    font-family: 'Russo One';
}